.button-component button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.button-component button:disabled {
  cursor: not-allowed;
}

.button-component.extra-small button {
  font-size: 10px;
}
.button-component.small button {
  font-size: 14px;
}
.button-component.medium button {
  font-size: 16px;
}
.button-component.large button {
  font-size: 20px;
}
.button-component.extra-large button {
  font-size: 24px;
}
