// Font sizes

$font-size-xxxxxxxxxxxl: 100px;
$font-size-xxxxxxxxxxl: 80px;
$font-size-xxxxxxxxxl: 70px;
$font-size-xxxxxxxxl: 60px;
$font-size-xxxxxxxl: 50px;
$font-size-xxxxxxl: 40px;
$font-size-xxxxxl: 36px;
$font-size-xxxxl: 30px;
$font-size-xxxl: 28px;
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-lg: 20px;
$font-size-md: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;
$font-size-xxxs: 10px;

$font-family: Objective;

$font-size-heading-1: 60pt;
$font-size-heading-2: 40pt;
$font-size-heading-3: 30pt;
$font-size-body: 15pt;
$font-size-subtitle: 12pt;
