.label-component.extra-large {
  font-size: 24px;
}
.label-component.large {
  font-size: 20px;
}
.label-component.medium {
  font-size: 16px;
}
.label-component.small {
  font-size: 14px;
}
.label-component.extra-small {
  font-size: 10px;
}
